<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>CCRG Login</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link rel="icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <script type="text/javascript" src="/js/sha512.js"></script>
    <script type="text/javascript">
        window.onload=function() {
            document.getElementById('login').onsubmit=function(form) {

            var password = document.getElementById('password');
            var username = document.getElementById('username');
            password.value = sha512(password.value + username.value);

            return true;
          }
        }
    </script>
</head>
<body>
<form action="/login" method="post" id="login">
    <div><label>User Name: <input type="text" name="username" id="username"/> </label></div>
    <div><label>Password: <input type="password" name="password" id="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>